/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: poppins; */
}

header{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

    font-style: italic;
}

section{
    padding: 50px 100px;
    height: 100%;
}

.back-to-top a {
    right: 30px;
    bottom: 50px;
    width: 50px;
    text-align: center;
    position: fixed;
    background: transparent;
    border: 2px solid #0984e3;
    color: #0984e3;
}

.back-to-top a:hover {
    background-color: #0984e3;
    color: white;
}

#hero img {
    margin-top: 20px;
}

#contact{
    padding: 30px 100px;
}

#about h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 2px;
}

#about p {
    margin-bottom: 20px;
    text-align: justify;
}

#about img {
    margin: auto;
    margin-top: 50px;
    max-width: 13.5em;
}

#thankyou h1{
    margin: 30px 0;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

h3 {
    margin: auto;
    font-size: 30px;
    display: inline-block;  
    border-radius: 2px;
    border-bottom: 3px solid black;  
}

#other-blogs{
    margin: 20px 0;
}

#other_blogs_title{
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: center;
}

.category-title{
    font-style: italic;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

#search{
    border: 1px solid black;
    width: 80%;
    padding: 15px;
    outline: none;
}

.searchBtn{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 15px;
    width: 120px;
}

.blog-cards{
    margin: 40px 0;
}

.blog-content{
    width: 80%;
    margin: auto;
}

.blog-content h2{
    text-align: center;
    font-size: 32px;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: bold;
}

.blog-content h5 {
    text-align: center;
    font-style: italic;
    color: rgb(139, 139, 139);
}

.blog-content div p{
    text-align: justify;
    margin: 30px 0;
}

.blog-content div img{
    max-width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blog-content div p:nth-child(7){
    font-weight: bold;
    font-style: italic;
}

/* #interaction {
    width: 80%;
    margin: auto;
}

#interaction h2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#interaction h2 span {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
} */

footer{
   border-top: 2px solid black;
}

@media screen and (max-width: 360px) {
    section{
        padding: 10px;
    }

    .back-to-top a {
        right: 20px;
        bottom: 20px;
        width: 50px;
        background: #0984e3;
        border: 2px solid #0984e3;
        color: white;
    }

    #contact{
        padding: 10px;
    }

    #about h2 {
        margin-top: 0px;
    }

    #about img {
        max-width: 90%;
    }

    .blog-content{
        width: 100%;
    }

    .blog-content div img{
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    section{
        padding: 30px;
    }

    .back-to-top a {
        right: 20px;
        bottom: 20px;
        width: 50px;
        background: #0984e3;
        border: 2px solid #0984e3;
        color: white;
    }

    #contact{
        padding: 30px;
    }

    .blog-content{
        width: 90%;
        margin: auto;
    }

    #about h2 {
        margin-bottom: 20px;
    }
}