{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unwritten</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <header id="header"><h1><strong> - UnWritten - </strong></h1></header>

    <nav>
        <div class="toggle">
            <div class="menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>

        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/blogs"> Blogs </a> </li>
            <li><a href="/contact">Get in touch</a></li>
        </ul>
    </nav>

    <div class="back-to-top">
        <a href="#header"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <section class="search">
        <form action="/search" method="get">
            {% csrf_token %}
            <input type="search" name="search" id="search" placeholder="Search by title" autocomplete="off">
            <button class="searchBtn">Search</button>
        </form>
    </section> 

    <section class="blog-posts">

        {% for j in category_post %}
        <div class="p-4 md:w-1/3" data-category="1">
            <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                <img class=" w-full object-cover object-center"
                    src="{{ j.cover_image.url }}" alt="blog">
                <div class="p-6">
                    {% for cat in j.category.all %}
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1" style="text-transform: uppercase;">
                        <a href="{{cat.id}}">{{ cat }}</a>
                    </h2>
                    {% endfor %}
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><strong>{{j.title}}</strong></h1>
                    <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings
                        jianbing microdosing tousled waistcoat.</p>
                    <div class="flex items-center flex-wrap learn_timestamp">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/blog1/{{j.title}}">Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        <a href="#">{{ j.timestamp|timesince }} ago . . </a>
                        <!-- <span
                            class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>1.2K
                        </span>
                        <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                <path
                                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                </path>
                            </svg>6
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.menu').click(function () {
                $('ul').toggleClass('active');
            })
        })

        window.addEventListener('scroll', function () {
            var btt_btn = document.querySelector('.back-to-top');
            btt_btn.classList.toggle('bttactive', window.scrollY > 300);
        });
    </script>
</body>
